---
layout: default
top: Blog
---

<div id="header">
	<h1>
		<span class="nav">
			<a href="{{ site.base_url }}/blog" title="Eren Türkay'ın Blogu">Blog</a>
			<span class="byline">← <a href="{{ site.base_url }}/">Eren Türkay</a></span>
		</span>
    </h1>
	<ul class="nav linkhighlight">
		<li>
			<a class="home" href="{{ site.base_url }}/">Anasayfa</a>
		</li>
    </ul>
    {% comment %}
	<ul class="nav linkhighlight">
		<li>
			<a class="home" href="{{ site.base_url }}/blog">Blog</a>
		</li>
		<li>
			<a class="home" href="{{ site.base_url }}/blog/arsiv">Arşiv</a>
		</li>
		<li>
			<a rel="me" class="bl" href="{{ site.base_url }}/blog/kategori">Kategori</a>
		</li>
		<li>
			<a rel="me" class="blog" href="{{ site.base_url }}/blog/tags">Tag</a>
		</li>
    </ul>
    {% endcomment %}

</div>
{{ content }}

{% comment %}
vim: ft=liquid sw=4 ts=4 sts=4
{% endcomment %}
