---
layout: default
top: Eren Türkay
---

<div id="header">
	<h1>
		<span class="nav">
			<a class="name" href="{{ site.base_url }}/">Eren Türkay</a>
		</span>
	</h1>
	<ul class="nav linkhighlight">
		<li>
			<a rel="me" class="blog" href="{{ site.base_url }}/hakkimda">Hakkımda</a>
		</li>
		<li>
			<a rel="me" class="blog" href="{{ site.base_url }}/projeler">Projeler</a>
		</li>
		<li>
			<a rel="me" class="blog" href="{{ site.base_url }}/konusmalar">Konuşmalar</a>
        </li>
        {% comment %}
		<li>
			<a rel="me" class="blog" href="{{ site.base_url }}/blog">Blog</a>
            </li>
        {% endcomment %}
		<li>
			<a class="resume" href="{{ site.base_url }}/iletisim">İletişim</a>
		</li>
	</ul>
</div>
<div id="page">{{ content }}</div>

{% comment %}
vim: ft=liquid sw=4 ts=4 sts=4
{% endcomment %}
