---
layout: main
---

<!-- Age calculation -->
<script type="text/javascript" charset="UTF-8" src="/js/numbers.js"></script>

<!-- Google Latitude Location -->
<script type="text/javascript" charset="UTF-8" src="/js/latitude.js"></script>

{{ content }}

<!-- Github recent projects -->
<script type="text/javascript" charset="UTF-8" src="/js/github.js"></script>
<script type="text/javascript">
	var github_excludes = new Array();
	{% if site.github_excludes %}
	{% for exclude in site.github_excludes %}
	github_excludes.push("{{ exclude }}");
	{% endfor %}
	{% endif %}
	github_latest(5, "{{ site.github_username }}", $("#github_{{ site.github_username }}"), github_excludes);
</script>

<!-- Twitter timeline -->
<script type="text/javascript" charset="UTF-8" src="/js/twitter.js"></script>
<script type="text/javascript">
	twitter_latest("{{ site.twitter_username }}", $("#twitter_update_list"));
</script>

{% comment %}
vim: ft=liquid sw=4 ts=4 sts=4
{% endcomment %}
